body {
    display: flex;
}

section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#green {
    order: 3;
}

#orange {
    order: 4;
    flex-grow: 2;
}

#yellow {
    order: 1;
}

#red {
    order: 2;
}

#blue {
    order: 5;
}
